@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Playfair+Display&family=Roboto+Slab:wght@300&family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: #000;
  font-family: "Inter", sans-serif;
  position: relative;
}

.navbar {
  position: sticky;
  top:0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: rgba(33, 33, 33, 1);
  padding: 0 2.5vw;
}

.toggle-btn {
  width: 20px;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
}

.toggle-btn span:nth-child(1) {
  top: 0;
}

.toggle-btn span:nth-child(3) {
  top: 100%;
}

.logo {
  margin-left: 20px;
}

.search-box {
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 35px;
  display: flex;
  margin: auto;
}

.search-bar {
  width: 85%;
  height: 100%;
  border: 2px solid rgba(18, 18, 18, 1);
  background: rgba(18, 18, 18, 1);
  padding: 0 20px;
  font-size: 16px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

.search-btn {
  width: 15%;
  height: 100%;
  background: rgba(48, 48, 48, 1);
  border: 2px solid rgba(48, 48, 48, 1);
  padding: 5px 0;
  border-left: none;
}

.user-options {
  height: 35px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.user-options .icon {
  height: 70%;
  margin-right: 20px;
  cursor: pointer;
}

.user-dp img {
  cursor: pointer;
  border-radius: 50%;
}

/* =====SideBar====== */
.side-bar {
  position: fixed;
  top: 60px;
  left: 0;
  min-width: 250px;
  height: calc(100vh - 60px);
  background: rgba(33, 33, 33, 1);
  padding-left: 10px;
  color: white;
}

.links {
  display: block;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.links img,
.links i {
  height: 25px;
  margin-right: 20px;
  margin-top: 10px;
}

.links:hover,
.links.active {
  background: rgba(48, 48, 48, 1);
}

.separator {
  border: none;
  border-bottom: 1px solid gray;
  margin: 20px 0;
}

/*======Filters======= */

.filters {
  position: fixed;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: 55px;
  background: rgba(33, 33, 33, 1);
  border-top: 1px solid rgba(48, 48, 48, 1);
  border-bottom: 1px solid rgba(48, 48, 48, 1);
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.filters ::-webkit-scrollbar {
  display: none;
}

.filter-options {
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: capitalize;
  border: 1px solid rgba(170, 170, 170, 1);
  background: rgba(48, 48, 48, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 10px;
}

.filter-options.active {
  background: rgba(255, 255, 255, 1);
  color: rgba(3, 3, 3, 1);
}

/*======videos=======*/

.video-container {
  width: calc(100% - 250px);
  margin-top: 50px;
  margin-left: 250px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 20px 5px;
  overflow-x: hidden;
  color: rgba(217, 217, 217, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.video {
  min-height: 250px;
  height: auto;
  border-radius: 1rem;
}

.video > img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 1rem;
}

.content {
  width: 100%;
  height: 100px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.channel-icon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.title {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.channel-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(170, 170, 170, 1);
  margin-top: 3px;
}

.views {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(170, 170, 170, 1);
}

/* videos html css */


.content2{
  background: #000;
  padding-left:17%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition:all 0.3s ease;
  color: white;
  display: flex;
}

.play-content{
  padding-left: 2% ;
  margin-inline: 10px;
}

.row{
 width: 60%;
 height: 80vh;
 overflow-y: scroll;
}
.play-video{
  flex-basis: 69%;
}

.play-video video{
  width: 100%;

}

.likeBtn{
  display: flex ;
  justify-content: space-between;
  border-bottom: 1px solid gray ;
  padding-bottom: 20px;
  margin-top: 10px;
}

.flex{
  display: flex;
align-items: center;
justify-content: space-around;
height: 20px;
width: 300px;
}

.flex p{
  margin: 5px;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}

.title2{
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.01em;
text-align: left;

}

.channel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.flex2{
  display: flex;

}

.channel-icon img{
  height: 40px;
  border-radius: 50%;
}

.name{
  color: white;
font-size: 14px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}

.subscribe{
  width: 116px;
height: 36px;
padding: 10px, 16px, 10px, 16px;
border-radius: 2px;
gap: 10px;
background: rgba(204, 0, 0, 1);
border: none;
color: white;
}

.subscribe:hover{
  background:  rgb(207, 62, 62);
  cursor: pointer;
}

.about-ch {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-left: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.show-more {
  text-decoration: none;
  color: rgba(170, 170, 170, 1);
  cursor: pointer; /* Add a cursor pointer to indicate interactivity */
}

.comment-count{
  display: flex;
  align-items: center;
justify-content: space-around;
height: 20px;
width: 300px;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}

.add-comment{
  display: flex;
  padding: 10px;
  height: 60px;
   width: 100%;
   margin-left: 20px;
}

.add-comment img{
  height: 30px;
  border-radius: 50%;
}

.input-comment{
  background: transparent;
  border: none;
  margin-left: 20px ;
  color: white;
  border-bottom: 1px solid gray;
  width: 700px;
}

.right-sidebar {
  width: 40%;
  float: right;
  margin-left: 20px;
  height: 82vh;
  overflow-y: scroll;
}

.side_video_list {
  display: flex;
  margin-bottom: 20px;
}

.small-thumbnail img {
  width: 200px;
  height: 100px;
  object-fit: cover;
 
}

.vid-info {
  margin-left: 10px;
}

.vid-info a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.vid-info p {
  color: rgba(170, 170, 170, 1);
  font-size: 14px;
}



.right-sidebar::-webkit-scrollbar {
  display: none;
}
.row::-webkit-scrollbar {
  display: none;
}